.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--sky-honey);
}

.app__main {
  flex: 1;
  min-height: calc(100vh - 200px);
  background-color: var(--sky-honey);
}

